LibrairieClient/Connected Services/LibService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LIbrairieServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LIbrairieServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAuteur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Auteur" nillable="true" type="tns:Auteur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuteur" nillable="true" type="tns:ArrayOfAuteur" />
  <xs:complexType name="Auteur">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateNaissance" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auteur" nillable="true" type="tns:Auteur" />
</xs:schema>